/* CSS Document */

div#form-forget-pass{
	z-index:99999999;
	opacity:0;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(204,204,204,.8);
	pointer-events:none;
}

div#form-change-pass{
	z-index:99999999;
	opacity:0;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(204,204,204,.8);
	pointer-events:none;
}

div#form-edit-info{
	z-index:99999999;
	opacity:0;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(204,204,204,.8);
	pointer-events:none;
}

div.form-main{
	width:450px;
	margin:50px auto;
	background:#fff;
	border:1px solid #ccc;
	border-radius:8px 8px 0 0;
}

div.fm-head{
	position:relative;
	width:100%;
	border-bottom:1px solid #ccc;
	border-radius:8px 8px 0 0;
	background:#ddd;
}

div.fm-head i{
	position:absolute;
	right:0;
	top:4px;
	font-size:20px;
	background:#ccc;
	padding:5px 7px;
	border-radius:50%;
	color:#fff;
	cursor:pointer;
}

div.fm-head i:hover{
	color:#f00;
}

div.fm-head span{
	display:block;
	padding:10px 0;
	text-align:center;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}

div.fm-body form{
	padding:20px 10px 10px 10px;
}

div.fm-body form label{
	display:block;
	margin-bottom:10px;
}

div.fm-body form label.cl-red{
	font-size:14px;
}

div.fm-body form input[type=text],div.fm-body form input[type=password]{
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:10px 10px;
	margin-bottom:10px;
	border-radius:2px;
	border:1px solid #ccc;
	color:#555;
}

div.fm-body form button{
	display:block;
	margin:auto;
	box-sizing:border-box;
	padding:10px 20px;
	margin-bottom:10px;
	border:none;
	border-radius:3px;
	color:#fff;
	background:#337ab7;
	cursor:pointer;
}

div.fm-body form label.show_error{
	color:red;
}

div.fm-body form select{
	width:80px;
	padding:6px;
	margin-left:5px;
	margin-right:10px;
}

div.fm-body form div.birth{
	width:100%;
	padding-left:10px;
	margin-bottom:10px;
}

div.fm-body form div.form-input{
	position:relative;
}

div.fm-body form div.form-input span{
	position:absolute;
	right:10px;	
	top:calc(50% - 6px);
}

div.fm-body form div.gioitinh{
	position:relative;
	margin-left:10px;
	margin-bottom:10px;
	width:50px;
	display:inline-block;
}

div.fm-body form div.gioitinh span{
	position:absolute;
}

div.fm-body form div.gioitinh input[type=radio]{
	margin-right:5px;
}



