/* CSS Document */

*{
	padding:0;
	margin:0;
}

body{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:#f2f2f2;
}

a{
	text-decoration:none;
	cursor:pointer;
}

li{
	list-style-type:none;
}

.clear{
	clear:both;
}

.fixed_menu{
	position:fixed;
	top:0px;
	left:0;
	right:0;
}

.cl-red{
	color:#f00 !important;
}

.cl-blue{
	color:#00ace6!important;
}

.fb{
	font-weight:bold;
}
i.fa{
	margin-right:5px;
}

i.home{
	color:rgb(34, 194, 34);
	border:2px solid rgb(34, 194, 34);
}

i.cart{
	color:#febe29;
	border:2px solid #febe29;
}

#container{
	width:1100px;
	margin:auto;
	background:#FFF;
	box-shadow:0px 6px 6px 8px #CCC;
	-webkit-box-shadow:0px 6px 6px 8px #CCC;
	-moz-box-shadow:0px 6px 6px 8px #CCC;
	-o-box-shadow:0px 6px 6px 8px #CCC;
}

/*=========HEADER: START==============*/
#header{
	width:1020px;
	height:100px;
	margin:auto;
}

#logo{
	float:left;
	width:270px;
	height:100%;
}

#logo p{
	line-height:100px;
	color:#000;
	text-align:center;
	font-size:40px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	animation:logo 8s infinite;
	text-shadow:0 0 3px #00ace6, 0 0 5px #0000FF;;
}

@keyframes logo{
	0%		{transform: rotate(0deg);}
	10%		{transform: rotate(20deg);}
	25%		{transform: rotate(-25deg);}
	35%		{transform: rotate(35deg);}
	50%		{transform: rotate(-360deg);}
	65%		{transform: rotate(35deg);}
	75%		{transform: rotate(-25deg);}
	85%		{transform: rotate(20deg);}
	100%	{transform: rotate(0deg);}
}

@-webkit-keyframes logo{
	0%		{transform: rotate(0deg);}
	10%		{transform: rotate(20deg);}
	25%		{transform: rotate(-25deg);}
	35%		{transform: rotate(35deg);}
	50%		{transform: rotate(-360deg);}
	65%		{transform: rotate(35deg);}
	75%		{transform: rotate(-25deg);}
	85%		{transform: rotate(20deg);}
	100%	{transform: rotate(0deg);}
}

@-moz-keyframes logo{
	0%		{transform: rotate(0deg);}
	10%		{transform: rotate(20deg);}
	25%		{transform: rotate(-25deg);}
	35%		{transform: rotate(35deg);}
	50%		{transform: rotate(-360deg);}
	65%		{transform: rotate(35deg);}
	75%		{transform: rotate(-25deg);}
	85%		{transform: rotate(20deg);}
	100%	{transform: rotate(0deg);}
}

@-o-keyframes logo{
	0%		{transform: rotate(0deg);}
	10%		{transform: rotate(20deg);}
	25%		{transform: rotate(-25deg);}
	35%		{transform: rotate(35deg);}
	50%		{transform: rotate(-360deg);}
	65%		{transform: rotate(35deg);}
	75%		{transform: rotate(-25deg);}
	85%		{transform: rotate(20deg);}
	100%	{transform: rotate(0deg);}
}

#group-header{
	float:left;
	width:calc(1020px - 270px);
	height:100%;
}

#group-header #group-header-info{
	height:40px;
	background:#0CF;
	padding-left:15px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

#group-header-info p.group-header-info-phone{
	float:left;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	margin-top:9px;
}

#group-header-info ul.group-header-info-user{
	float:right;
}

#group-header-info ul.group-header-info-user>li{
	float:left;
}

#group-header-info ul.group-header-info-user>li>a{
	display:inline-block;
	color:#fff;
	font-size:15px;
	margin-top:5px;
	padding:7px 10px;
	transition:1s;
	-webkit-transition:1s;
	-o-transition:1s;
}

#group-header-info ul.group-header-info-user>li>a:hover{
	color:#600;
}

/*---------------FORM LOGIN:START--------------------*/
.group-header-info-user>li{
	position:relative;
}

form.form-login{
	position:absolute;
	display:none;
	top:40px;
	right:0;
	z-index:99999;
	width:300px;
	padding:20px;
	color:#555;
	background:#f1f1f1;
	border-radius:0 0 2px 2px;
	box-shadow:0 3px 3px 5px rgba(204,204,204,1);
}

form.form-login label{
	display:block;
	margin-bottom:5px;
}

form.form-login input[type=text]{
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:8px 12px;
	margin-bottom:20px;
	font-size:14px;
	color:#000;
}

form.form-login input[type=password]{
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:8px 12px;
	margin-bottom:20px;
	font-size:14px;
	color:#000;
}

form.form-login input[type=checkbox]{
	box-sizing:border-box;
	margin-right:5px;
	margin-bottom:20px;
	font-size:14px;
	color:#999;
}

form.form-login>div{
	position:relative;
}

form.form-login>div>span{
	position:absolute;
}

form.form-login>a.forget-password{
	color:#337ab7;
	transition:.3s;
}

form.form-login>a.register{
	color:#03F;
	transition:.3s;
}

form.form-login>a.register:hover{
	text-decoration:underline;
	color:#f00;
}

form.form-login>a.forget-password:hover{
	color:#f00;
}

form.form-login button[type=submit]{
	display:block;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	border:none;
	background:#337ab7;
	color:#fff;
	cursor:pointer;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

/*---------------FORM LOGIN:END--------------------*/

#group-header-info #group-header-pr{
	height: calc(100% - 40px);
	width:100%;
}


#group-header-pr div.pr1{
	float:left;
	padding-left:50px;
	margin-right:25px;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:10px;
	background:url(../pr/tc_01.png) left center no-repeat;
}

#group-header-pr div.pr2{
	float:left;
	padding-left:50px;
	margin-right:25px;
	margin-top:5px;
	padding-top:17px;
	padding-bottom:17px;
	background:url(../pr/tc_02.png) left center no-repeat;
}

#group-header-pr div.pr3{
	float:left;
	padding-left:50px;
	margin-right:25px;
	margin-top:5px;
	padding-top:17px;
	padding-bottom:17px;
	background:url(../pr/tc_03.png) left center no-repeat;
}

#group-header-pr div.pr4{
	float:left;
	padding-left:50px;
	margin-right:25px;
	margin-top:5px;
	padding-top:17px;
	padding-bottom:17px;
	background:url(../pr/tc_04.png) left center no-repeat;
}

/*=========HEADER: END================*/

/*==========MENU:START================*/
#menu-main{
	height:80px;
}

#menu{
	background:rgba(0,0,0,.8);
	width:1020px;
	margin:auto;
	height:40px;
	margin-bottom:40px;
	z-index:9999;
}

#menu>ul>li{
	position:relative;
	float:left;
	width:150px;
	height:40px;
}

#menu>ul>li>a{
	display:block;
	width:100%;
	height:100%;
	line-height:40px;
	text-transform:uppercase;
	text-align:center;
	background:#1a2226;
	color:#fff;
	font-size:16px;
}

#menu>ul>li>a>i.put-right{
	position:absolute;
	top:11px;
	right:15px;
	transition:1s;
	color:#fff;	
}

#menu>ul>li>a:hover i.put-right{
	color:#f00;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

#menu>ul>li>ul.main-menu{
	position:absolute;
	background:#222d32;
	z-index:9999;
}

.main-menu>li{
	width:250px;
	position:relative;
}

.main-menu>li>a{
	display:block;
	position:relative;
	font-size:14px;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:15px;
	box-sizing:border-box;
	color:#84bdce;
	border-left:3px solid transparent;
	-webkit-border-left:3px solid transparent;
	-moz-border-left:3px solid transparent;
	-o-border-left:3px solid transparent;
}

.main-menu>li>a>i.put-right2{
	position:absolute;
	color:#fff !important;
	right:15px;
	transition:.5s;
}

.main-menu>li>a:hover{
	background:#1e282c;
	border-left-color:#3c8dbc;
	color:#fff;
}

.main-menu>li>ul.sub-menu>li>a{
	display:block;
	background:#2c3b41;
	display:block;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:30px;
	box-sizing:border-box;
	color:#84bdce;
	font-size:13px;
}

.main-menu>li>ul.sub-menu>li>a:hover{
	color:#fff;	
}

#menu .ads{
	height:40px;
	box-sizing:border-box;
	width:calc(100% - 150px);
	float:left;
	padding-left:20px;
	padding-right:20px;
}

#menu .ads marquee{
	color:#fff;
	font-size:16px;
	line-height:40px;
}
/*==========MENU:END==================*/

/*==========SLIDESHOW:START==============*/

#slideshow{
	width:1020px;
	height:400px;
	margin:auto;
	margin-bottom:40px;
}

#gallery{
	height:400px;
	overflow:hidden;
}

#slides{
	height:400px;
	width:4000px;
}

.slide{
	width:1020px;
	overflow:hidden;
	float:left;
}

.slide img{
	width:1020px;
	height:400px;
}

/*==========SLIDESHOW:START==============*/


/*==========WRAPPER:START=================*/
#wrapper{
	width:1020px;
	margin:auto;	
}

#wrapper .wrapper-head{
	height:40px;
	width:100%;
	background:#f1f1f1;
}

#wrapper .wrapper-head p{
	color:#555;
	text-transform:uppercase;
	text-align:center;
	line-height:40px;
	font-size:20px;
}

#wrapper .wrapper-foot{
	height:10px;
	width:100%;
	background:#f1f1f1;
	box-shadow:0 10px 10px 5px rgba(204,204,204,1);
	-webkit-box-shadow:0 10px 10px 5px rgba(204,204,204,1);
	-moz-box-shadow:0 10px 10px 5px rgba(204,204,204,1);
	-o-box-shadow:0 10px 10px 5px rgba(204,204,204,1);
	margin-bottom:40px;
}

#wrapper .wrapper-body{
	width:1020px;
	margin:auto;
}

#wrapper .wrapper-body .group-product{
	margin-bottom:20px;
}

#wrapper .wrapper-body .group-product .product-item{
	float:left;
	width:240px;
	margin-left:10px;
	margin-right:10px;
	border:1px solid rgba(204,204,204,.8);
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	box-sizing:border-box;
}

.product-item img{
	width:100%;
	opacity:.7;
	cursor:pointer;
	transition:.5s;
	-webkit-transition:.5s;
	-o-transition:.5s;
}

.product-item:hover img{
	opacity:1;
}

.product-item .product-info{
	display:block;
	text-align:center;
	padding:10px 5px;
}

.product-item .product-info p{
	display:block;
}

.product-item .product-info p.product-name-small{
	font-size:14px;
	color:#555;
	margin-bottom:10px;
}

.product-item .product-info p.product-price-small{
	font-size:16px;
	color:#f00;
	margin-bottom:10px;
}

.product-item .product-info p.view-detail-product a{
	display:block;
	padding:10px 15px;
	margin-left:20px;
	margin-right:20px;
	background:#337ab7;
	color:#fff;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

/*==========WRAPPER:END=================*/

/*================DETAIL-PRODUCT:START===================*/

#wrapper .wrapper-body{
	padding-top:20px;
	padding-bottom:20px;
}

#wrapper .wrapper-body .prodcuct-image{
	float:left;
	width:350px;
}

#wrapper .wrapper-body .prodcuct-image img{
	width:100%;
}


#wrapper>.wrapper-body>.product-info{
	width:650px;
	margin-left:20px;
	float:left;
}

#wrapper>.wrapper-body>.product-info>p.product-info-name{
	font-size:20px;
	text-transform:uppercase;
	display:block;
	padding-bottom:10px;
	border-bottom:1px dashed #f1f1f1;
}

#wrapper>.wrapper-body>.product-info>form.form-product-info{
	width:100%;
}

#wrapper>.wrapper-body>.product-info>form.form-product-info label{
	font-size:16px;
	display:inline-block;
	width:150px;
	margin-top:15px;
	margin-bottom:15px;
	text-align:right;
	padding-right:10px;
	color:#555;
}

#wrapper>.wrapper-body>.product-info>form.form-product-info label.info{
	display:inline-block;
	width:450px;
	text-align:left !important;
}

#wrapper>.wrapper-body>.product-info>form.form-product-info label.price{
	font-size:20px;
	font-weight:bold;
}

#wrapper>.wrapper-body>.product-info>form.form-product-info select{
	height:30px;
	width:100px;
	font-size:16px;
	padding-left:10px;
}

#wrapper>.wrapper-body>.product-info>form.form-product-info button[type=submit]{
	display:block;
	text-align:center;
	width:200px;
	padding-top:10px;
	padding-bottom:10px;
	border:none;
	background:#337ab7;
	color:#fff;
	margin-left:60px;
	border-radius:5px;
}
/*================DETAIL-PRODUCT:END===================*/

/*===============SHOP-CART: START======================*/
#wrapper .wrapper-body table.table-shop-cart{
	border-top:3px solid #337ab7;
	border-left:1px solid #f1f1f1;
	width:100%;
	border-bottom:4px solid #337ab7;
	border-radius:4px;
	border-spacing:0;
	border-collapse:0;
	text-align:center;
	color:#666;
}

#wrapper .wrapper-body table.table-shop-cart thead tr td{
	padding:10px;
	border-right:1px solid #f1f1f1;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
}

#wrapper .wrapper-body table.table-shop-cart tbody tr td{
	padding:10px;
	text-align:center;
	border-top:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	font-size:15px;
}

#wrapper .wrapper-body table.table-shop-cart tbody tr td i.delete{
	padding:5px 10px;
	background:#337ab7;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
	transition:.5s;
}

#wrapper .wrapper-body table.table-shop-cart tbody tr td i.delete:hover{
	color:#f00;
}

#wrapper .wrapper-body table.table-shop-cart tbody tr td select{
	padding:6px 12px;
	border:1px solid #f1f1f1;
}

#wrapper .wrapper-body table.table-shop-cart tbody tr td img{
	width:50px;
}

#wrapper .wrapper-body table.table-shop-cart tfoot tr td{
	padding:10px;
	border-right:1px solid #f1f1f1;
	border-top:1px solid #f1f1f1;
	font-weight:bold;
	font-style:italic;
	font-size:16px;
}

#wrapper .wrapper-body .shop-cart-act{
	margin:20px 0;
	float:right;
}

#wrapper .wrapper-body .shop-cart-act ul li{
	float:left;
	margin-left:20px;
}

#wrapper .wrapper-body .shop-cart-act ul li a.add-cart{
	padding:10px 20px;
	background:#337ab7;
	color:#fff;
	border-radius:5px;
}

#wrapper .wrapper-body .shop-cart-act ul li a.finish-cart{
	padding:15px 20px;
	background:#F60;
	color:#fff;
	border-radius:5px;
}
/*===============SHOP-CART: END======================*/

/*==============SIGNUP: START=========================*/
#wrapper>.wrapper-body>form.form-signup{
	font-size:14px;
	color:#555;
	width:550px;
	margin:auto;
}

#wrapper>.wrapper-body>form.form-signup label{
	display:block;
	margin-bottom:5px;
}

#wrapper>.wrapper-body>form.form-signup div.form-input{
	position:relative;
}

#wrapper>.wrapper-body>form.form-signup div.form-input span{
	position:absolute;
	top:8px;
	right:20px;
}

#wrapper>.wrapper-body>form.form-signup input[type=text]{
	color:#555;
	padding:0 12px;
	box-sizing:border-box;
	display:block;
	width:100%;
	padding:8px 12px;
	margin-bottom:20px;
	font-size:14px;
}

#wrapper>.wrapper-body>form.form-signup input[type=password]{
	color:#555;
	padding:8px 12px;
	box-sizing:border-box;
	display:block;
	width:100%;
	margin-bottom:20px;
	font-size:14px;
}

#wrapper>.wrapper-body>form.form-signup div.birth{
	padding-left:20px;
}

#wrapper>.wrapper-body>form.form-signup select{
	margin-left:5px;
	margin-right:15px;
	color:#555;
	display:inline;
	width:100px;
	height:34px;
	margin-bottom:20px;
	padding-left:12px;
}

#wrapper>.wrapper-body>form.form-signup div.sex{
	position:relative;
	display:inline-block;
	margin-left:20px;
	width:40px;
	margin-bottom:20px;
}

#wrapper>.wrapper-body>form.form-signup div.sex span{
	position:absolute;
	top:-2px;
	margin-left:3px;
}

#wrapper>.wrapper-body>form.form-signup button[type=submit]{
	padding:10px 20px;
	border:none;
	background:#337ab7;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
}
/*==============SIGNUP: END=========================*/

/*===========FOOTER: START================*/
#footer{
	width:1020px;
	margin:auto;
	height:100px;
	background:#f3f3f3;
}

#footer p.ban-quyen{
	margin-left:20px;
	font-size:14px;
	display:block;
	line-height:100px;
}
/*===========FOOTER: END================*/

/*=============SCROLLTOP: START============*/
#scrollTop{
	position:fixed;
	display:none;
	right:35px;
	bottom:35px;
}

#scrollTop>i{
	font-size:50px;
	text-align:center;
	cursor:pointer;
}

/*=============SCROLLTOP: END============*/

/*=============NAV-TAB: START===============*/
#wrapper>.wrapper-body>#nav-tab{
	border-bottom:1px solid #ccc;
}

#wrapper>.wrapper-body>#nav-tab>ul{
	width:400px;
	margin:auto;
}

#wrapper>.wrapper-body>#nav-tab>ul>li{
	float:left;
	width:50%;
	padding:20px 0;
	text-align:center;
}

#wrapper>.wrapper-body>#nav-tab>ul>li>i{
	font-size:30px;
	border-radius:50%;
	padding:19px 20px;
	cursor:pointer;
}

/*=============NAV-TAB: END===============*/
