/* CSS Document */

i.home{
	color:rgb(34, 194, 34);
	border:2px solid rgb(34, 194, 34);
}

i.cart2{
	color:#febe29;
	border:2px solid #febe29;
}

#wrapper{
	width:1040px;
	margin:auto;	
	margin-bottom:40px;
}

#wrapper .wrapper-head{
	position:relative;
	width:calc(100% - 20px);
	margin-left:10px;
	margin-bottom:40px;
	border-bottom:1px dashed #f00;
}

#navi{
	width:calc(100% - 20px);
	margin-left:10px;
	background:#f1f1f1;
	margin-bottom:40px;
}

#navi>ol>li{
	color:#00ace6;
	font-weight:bold;
	padding:10px 10px 10px 15px;
	float:left;
	font-size:13px;
	background:url(../image/icon_span_nav.png) no-repeat 0 14px;
}


#wrapper .wrapper-head p{
	text-transform:uppercase;
	line-height:40px;
	font-size:23px;
	background:#fff;
	color:#00ace6;
}

#wrapper .wrapper-head select.sort{
	position:absolute;
	padding:6px 5px;
	width:170px;
	right:0;
	top:0;
}

#wrapper .wrapper-foot{
	height:7px;
	margin-left:10px;
	width:calc(100% - 20px);
	background:#f1f1f1;
	box-shadow:0 1px 10px 5px rgba(204,204,204,.7);
}

#wrapper .wrapper-body{
	margin:auto;
}

#wrapper .wrapper-body .group-product{
	margin-bottom:20px;
}

#wrapper .wrapper-body .group-product .product-item{
	float:left;
	width:240px;
	margin-left:10px;
	margin-right:10px;
	border:1px solid #f1f1f1;
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	box-sizing:border-box;
}

.product-item .product-item-img{
	width:100%;
	height:300px;
	overflow:hidden;
}

.product-item .product-item-img img{
	width:100%;
	cursor:pointer;
	transition:.7s;
}

.product-item:hover img{
	transform:scale(1.1);
}

.product-item .product-info{
	display:block;
	text-align:center;
	padding:10px 5px;
}

.product-item .product-info p{
	display:block;
}

.product-item .product-info p.product-name-small{
	font-size:15px;
	color:#555;
	margin-bottom:10px;
}

.product-item .product-info p.product-price-small{
	font-size:16px;
	color:#f00;
	margin-bottom:10px;
}

.product-item .product-info p.product-status{
	text-transform:uppercase;
	font-size:15px;
	color:#33C;
	margin-bottom:10px;
}

.product-item .product-info p.view-detail-product a{
	display:block;
	padding:10px 0;
	margin:10px 25px;
	background:#f60;
	color:#fff;

}

/*==========WRAPPER:END=================*/

/*================DETAIL-PRODUCT:START===================*/
#wrapper .wrapper-body .product-detail{
	margin-left:10px;
	width:calc(100% - 20px);
	margin-bottom:40px;
}

#wrapper .wrapper-body .product-detail .product-image{
	float:left;
	width:500px;
	border:1px solid #ccc;
	box-sizing:border-box;
	padding:10px;
	border-radius:5px;
}

div.product-image>.gallery-small-image{
	width:100%;
	height:400px;
	overflow:hidden;
}

div.product-image>.gallery-small-image>.slides{
	height:400px;
}

div.product-image>.gallery-small-image>.slides>.slide-image{
	float:left;
	width:500px;
	height:400px;
	text-align:center;
}

div.product-image>.gallery-small-image>.slides>.slide-image img{
	height:100%;
}


#wrapper>.wrapper-body>.product-detail .product-info{
	box-sizing:border-box;
	width:500px;
	margin-left:20px;
	float:left;
}

div.product-info>p.product-info-name{
	font-size:20px;
	text-transform:uppercase;
	display:block;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
	margin-bottom:20px;
	color:#777;
}

div.product-info table{
	width:100%;
	border-collapse:0;
	border-spacing:0;	
}

div.product-info table tr td{
	font-size:16px;
	padding:10px 0;
	color:#666666;
}

div.product-info table tr td.col-left{
	width:150px;
	text-transform:uppercase;
}

div.product-info table tr td select{
	width:150px;
	padding:6px 12px;
}

div.product-info table tr td.price{
	font-size:25px;
	font-weight:bold;
	color:#00ace6;
}

div.product-info table tr td button#add-to-card{
	border:none;
	padding:10px 15px;
	background:#00ace6;
	color:#fff;
	font-size:14px;
}
/*================DETAIL-PRODUCT:END===================*/

/*===============SHOP-CART: START======================*/
#wrapper .wrapper-body .cart{
	width:calc(100% - 20px);
	margin-left:10px;
	margin-bottom:20px;
}
#wrapper .wrapper-body .cart table.table-shop-cart{
	border-top:3px solid #337ab7;
	border-left:1px solid #f1f1f1;
	width:100%;
	border-bottom:4px solid #337ab7;
	border-radius:4px;
	border-spacing:0;
	border-collapse:0;
	text-align:center;
	color:#666;
}

#wrapper .wrapper-body .cart table.table-shop-cart thead tr td{
	padding:10px;
	border-right:1px solid #f1f1f1;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
}

#wrapper .wrapper-body .cart table.table-shop-cart tbody tr td{
	padding:10px;
	text-align:center;
	border-top:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	font-size:15px;
}

#wrapper .wrapper-body .cart table.table-shop-cart tbody tr td i.delete{
	padding:5px 10px;
	background:#337ab7;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
	transition:.5s;
}

#wrapper .wrapper-body .cart table.table-shop-cart tbody tr td i.delete:hover{
	color:#f00;
}

#wrapper .wrapper-body .cart table.table-shop-cart tbody tr td select{
	padding:6px 12px;
	border:1px solid #f1f1f1;
}

#wrapper .wrapper-body .cart table.table-shop-cart tbody tr td img{
	width:50px;
}

#wrapper .wrapper-body .cart table.table-shop-cart tfoot tr td{
	padding:10px;
	border-right:1px solid #f1f1f1;
	border-top:1px solid #f1f1f1;
	font-weight:bold;
	font-style:italic;
	font-size:16px;
}

#wrapper .wrapper-body .cart .shop-cart-act{
	margin:20px 0;
	float:right;
}

#wrapper .wrapper-body .cart .shop-cart-act ul li{
	float:left;
	margin-left:20px;
}

#wrapper .wrapper-body .cart .shop-cart-act ul li a.add-cart{
	padding:10px 20px;
	background:#337ab7;
	color:#fff;
	border-radius:5px;
}

#wrapper .wrapper-body .cart .shop-cart-act ul li a.finish-cart{
	padding:15px 20px;
	background:#F60;
	color:#fff;
	border-radius:5px;
}
/*===============SHOP-CART: END======================*/

/*==============SIGNUP: START=========================*/
#wrapper>.wrapper-body>form.form-signup{
	font-size:14px;
	color:#555;
	width:550px;
	margin:auto;
	margin-bottom:20px;
}

#wrapper>.wrapper-body>form.form-signup label{
	display:block;
	margin-bottom:5px;
}

#wrapper>.wrapper-body>form.form-signup div.form-input{
	position:relative;
}

#wrapper>.wrapper-body>form.form-signup div.form-input span{
	position:absolute;
	top:8px;
	right:20px;
}

#wrapper>.wrapper-body>form.form-signup input[type=text]{
	color:#555;
	padding:0 12px;
	box-sizing:border-box;
	display:block;
	width:100%;
	padding:8px 12px;
	margin-bottom:20px;
	font-size:14px;
}

#wrapper>.wrapper-body>form.form-signup input[type=password]{
	color:#555;
	padding:8px 12px;
	box-sizing:border-box;
	display:block;
	width:100%;
	margin-bottom:20px;
	font-size:14px;
}

#wrapper>.wrapper-body>form.form-signup div.birth{
	padding-left:20px;
}

#wrapper>.wrapper-body>form.form-signup select{
	margin-left:5px;
	margin-right:15px;
	color:#555;
	display:inline;
	width:100px;
	height:34px;
	margin-bottom:20px;
	padding-left:12px;
}

#wrapper>.wrapper-body>form.form-signup div.sex{
	position:relative;
	display:inline-block;
	margin-left:20px;
	width:40px;
	margin-bottom:20px;
}

#wrapper>.wrapper-body>form.form-signup div.sex span{
	position:absolute;
	top:-2px;
	margin-left:3px;
}

#wrapper>.wrapper-body>form.form-signup button[type=submit]{
	padding:10px 20px;
	border:none;
	background:#337ab7;
	color:#fff;
	border-radius:5px;
	cursor:pointer;
}
/*==============================*/
#wrapper>.wrapper-body>.memeber-info{
	width:calc(100% - 20px);
	margin-left:10px;
	margin-bottom:40px;
}

#wrapper>.wrapper-body>.memeber-info>#nav-tab>ul{
	width:400px;
	margin:auto;
}

#wrapper>.wrapper-body>.memeber-info>#nav-tab>ul>li{
	float:left;
	width:50%;
	padding:20px 0;
	text-align:center;
}

#wrapper>.wrapper-body>.memeber-info>#nav-tab>ul>li>i{
	font-size:30px;
	border-radius:50%;
	padding:19px 20px;
	cursor:pointer;
}
/*=============NAV-TAB: END===============*/

/*=============NAV-INFO: START===============*/
#nav-info{
	position:relative;
	width:100%;
	margin:auto;
	padding:10px 0;
}

.nav-actived{
	display:block !important;
	animation:slideInUp 1s 1;	
}

#nav-info>.nav-person-info{
	display:none;
}

#nav-info>.nav-person-info table{
	width:600px;
	margin:auto;
	padding:2px;
	border:2px dotted #ccc;
	border-radius:5px;
}

#nav-info>.nav-person-info> table tr td.nav-person-info-title{
	text-align:center;
	color:#555;
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
}

#nav-info>.nav-person-info table th{
	position:relative;
	background:rgba(204,204,204,.6);
	padding:10px;
	font-size:16px;
	color:rgb(34, 194, 34);
}

#nav-info>.nav-person-info table th span{
	position:absolute;
	right:10px;
	font-size:12px;
	font-weight:normal;
	top:12px;
}

#nav-info>.nav-person-info table th span a{
	color:blue;
	margin:0 2px;
}

#nav-info>.nav-person-info table th span a:hover{
	color:red;
	text-decoration:underline;
}

#nav-info>.nav-person-info table tr td{
	position:relative;
	padding:10px;
}

#nav-info>.nav-person-info table tr td i.user-actived{
	margin-left:10px;
	position:absolute;
	color:#09F;
	font-size:19px;
}

#nav-info>.nav-person-info table tr td a.change-pass{
	font-size:14px;
	color:#03F;
}

#nav-info>.nav-person-info table tr td a.change-pass:hover{
	color:#F00;
	font-style:italic;
	text-decoration:underline;
}

#nav-info>.nav-person-info table tr td.vl-info{
	font-size:14px;
}

/*=============================*/

#nav-info>.nav-card-info{
	display:none;
}

#nav-info>.nav-card-info table{
	margin:auto;
	border-collapse:0;
	border-spacing:0;
	padding:2px;
	border:2px dotted #ccc;
	border-radius:5px;
}

#nav-info>.nav-card-info> table tr td.nav-card-info-title{
	text-align:center;
	color:#555;
	text-transform:uppercase;
	text-align:center;
	font-size:20px;
}

#nav-info>.nav-card-info table tr.head{
	position:relative;
	background:rgba(204,204,204,.6);
	padding:10px;
	font-size:15px;
	color:rgb(34, 194, 34);
}

#nav-info>.nav-card-info table tr td span.no-card{
	margin-top:20px;
	position:relative;
	background:#f2f2f2;
	text-transform:uppercase;
	border-radius:10px;	
	padding:10px;
	font-size:20px;
	text-align:center;
	color:#900;
	text-shadow:0 0 3px #f00, 0 0 4px #00FF00;
}

#nav-info>.nav-card-info table tr td span.go-home{
	position:relative;
	display:block;
	text-align:right;
}

#nav-info>.nav-card-info table tr td span.go-home a{
	color:#1f1f1f;
	font-size:14px;
}

#nav-info>.nav-card-info table tr td span.go-home a:hover{
	font-style:italic;
	color:red;
}

#nav-info>.nav-card-info table tr.receipt-detail{
	background:#f1f1f1;
}

#nav-info>.nav-card-info table tr.subtable td table thead tr td{
	background:#9FC;
	font-weight:bold;
}

#nav-info>.nav-card-info table tr td{
	position:relative;
	padding:10px;
}

#nav-info>.nav-card-info table tr td i{
	position:relative;
	padding:5px 7px;
	background:#03F;
	border-radius:3px;
	color:#fff;
	
}
/*=============NAV-INFO: END===============*/

/*===============ERROR: NOT FOUND PAPE====================*/
#wrapper>.wrapper-body>.error{
	width:calc(100% - 20px);
	margin-left:10px;
	margin-bottom:20px;
	text-align:center;
	box-sizing:border-box;
	padding:20px;
}

#wrapper>.wrapper-body>.error>i{
	display:block;
	font-size:50px;
}

#wrapper>.wrapper-body>.error>p{
	display:block;
	font-size:25px;
	margin-top:20px;
	margin-bottom:20px;
}
